.annonce_item {
    margin: 15px auto 0 0;
    font-family: 'Raleway-Regular';
    font-size: 18px;
}

.annonce_a {

}

.annonce_image {
    float: left;
    background-color: #626262;
    width: 127px;
    height: 74px;
    margin-right: 10px;
  }
  
.annonce_text {

}