@font-face {
    font-family: 'Raleway-Thin';
    src: url('/fonts/Raleway/subset-Raleway-Thin.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Raleway-Medium';
    src: url('/fonts/Raleway/subset-Raleway-Medium.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/fonts/Raleway/subset-Raleway-Regular.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('/fonts/Raleway/subset-Raleway-ExtraLight.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/fonts/Raleway/subset-Raleway-SemiBold.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/fonts/Raleway/subset-Raleway-Bold.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('/fonts/Raleway/subset-Raleway-Light.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('/fonts/Raleway/subset-Raleway-Thin.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('/fonts/Raleway/subset-Raleway-Black.woff') format('woff'),
        url('/fonts/Raleway/subset-Raleway-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

